-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: ijbnet_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `batch_candidates`
--

LOCK TABLES `batch_candidates` WRITE;
/*!40000 ALTER TABLE `batch_candidates` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_candidates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `batches`
--

LOCK TABLES `batches` WRITE;
/*!40000 ALTER TABLE `batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidate_body_checks`
--

LOCK TABLES `candidate_body_checks` WRITE;
/*!40000 ALTER TABLE `candidate_body_checks` DISABLE KEYS */;
INSERT INTO `candidate_body_checks` VALUES ('f5ae4da5-d7ab-48f8-a8eb-7a9a39c5f3df','550ed760-175e-4979-b86e-c8aea2d1663b',172.50,65.00,45,'/aDMzRuIOTKjQ6B1nD9fTCKnkHTY5xjHY4qsJqNjqBzhChFi+w==','Viun0EXuZV2CVjLJH3cxM11VHdvzcOz+uL6PtQ6xEYE=','pass','2026-03-31 00:00:00','d4ce1409-c426-4dd6-b51d-c4abd77c655b','2026-03-31 05:43:28','2026-03-31 05:43:28');
/*!40000 ALTER TABLE `candidate_body_checks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidate_careers`
--

LOCK TABLES `candidate_careers` WRITE;
/*!40000 ALTER TABLE `candidate_careers` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_careers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidate_intro_videos`
--

LOCK TABLES `candidate_intro_videos` WRITE;
/*!40000 ALTER TABLE `candidate_intro_videos` DISABLE KEYS */;
INSERT INTO `candidate_intro_videos` VALUES ('444fe833-69c9-4d6f-abe9-5e81e4459c1f','550ed760-175e-4979-b86e-c8aea2d1663b','Test Video','https://youtu.be/dQw4w9WgXcQ','dQw4w9WgXcQ','Maret 2026','d4ce1409-c426-4dd6-b51d-c4abd77c655b',0,'2026-03-31 05:43:29');
/*!40000 ALTER TABLE `candidate_intro_videos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidate_japanese_tests`
--

LOCK TABLES `candidate_japanese_tests` WRITE;
/*!40000 ALTER TABLE `candidate_japanese_tests` DISABLE KEYS */;
INSERT INTO `candidate_japanese_tests` VALUES ('11e84c5e-f12f-4df2-bb5d-0ebbb672b446','9ee239ab-b257-4320-a1f7-de0773b86238','JLPT N4',72,1,'2024-12-01 00:00:00','2026-03-30 23:53:49'),('2fa6dc0b-b9c0-47b7-b900-bab778684b56','550ed760-175e-4979-b86e-c8aea2d1663b','JLPT N1',94,1,'2024-01-15 00:00:00','2026-03-30 23:53:49'),('999c78dd-0958-479a-a364-d1174aab49d8','fdedc681-42d6-490e-9c9c-b4ae409ca754','JLPT N3',78,1,'2024-07-01 00:00:00','2026-03-30 23:53:49');
/*!40000 ALTER TABLE `candidate_japanese_tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidate_tools`
--

LOCK TABLES `candidate_tools` WRITE;
/*!40000 ALTER TABLE `candidate_tools` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_tools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidate_weekly_tests`
--

LOCK TABLES `candidate_weekly_tests` WRITE;
/*!40000 ALTER TABLE `candidate_weekly_tests` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_weekly_tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `candidates`
--

LOCK TABLES `candidates` WRITE;
/*!40000 ALTER TABLE `candidates` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `interview_proposals`
--

LOCK TABLES `interview_proposals` WRITE;
/*!40000 ALTER TABLE `interview_proposals` DISABLE KEYS */;
INSERT INTO `interview_proposals` VALUES ('7c9b67bd-0fbe-488a-88d0-1083152e76fc','cbf80832-e7e1-4094-9e23-bf160526a5b1','011e8a2c-fd1e-48b9-b966-10a6d1fa06d8','[\"2026-04-15T10:00:00.000Z\", \"2026-04-16T14:00:00.000Z\", \"2026-04-17T09:00:00.000Z\"]',NULL,'proposed','2026-03-31 09:39:08','2026-03-31 09:39:08');
/*!40000 ALTER TABLE `interview_proposals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lpks`
--

LOCK TABLES `lpks` WRITE;
/*!40000 ALTER TABLE `lpks` DISABLE KEYS */;
/*!40000 ALTER TABLE `lpks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sequelize_data`
--

LOCK TABLES `sequelize_data` WRITE;
/*!40000 ALTER TABLE `sequelize_data` DISABLE KEYS */;
INSERT INTO `sequelize_data` VALUES ('20250101000000-demo-data.ts');
/*!40000 ALTER TABLE `sequelize_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sequelize_meta`
--

LOCK TABLES `sequelize_meta` WRITE;
/*!40000 ALTER TABLE `sequelize_meta` DISABLE KEYS */;
INSERT INTO `sequelize_meta` VALUES ('20250101000001-create-companies.ts'),('20250101000002-create-lpks.ts'),('20250101000003-create-users.ts'),('20250101000004-create-candidates.ts'),('20250101000005-create-candidate-sub.ts'),('20250101000006-create-batch-interview.ts'),('20250101000007-create-system.ts'),('20250101000008-add-deactivated-at.ts'),('20250101000009-add-mfa-backup-codes.ts');
/*!40000 ALTER TABLE `sequelize_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tools_dictionaries`
--

LOCK TABLES `tools_dictionaries` WRITE;
/*!40000 ALTER TABLE `tools_dictionaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `tools_dictionaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_mfa_backup_codes`
--

LOCK TABLES `user_mfa_backup_codes` WRITE;
/*!40000 ALTER TABLE `user_mfa_backup_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_mfa_backup_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-07 16:04:41
